* {
    font-family: 'Raleway', sans-serif;
}

html {
    background-color: #ededed;
}

main {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 56px auto 84px;
}

.country-result {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, max-content);
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.country-list {
    display: grid;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
    color: #3a6ea5;
    background-color: #ffffff;
    transition: all;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.country-list:hover {
    color: #4c98e9;
    transition: all;
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 15%);
}
