footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 84px;
    width: 100%;
    background-color: #004E98;
    color: #fff;
    gap: 2px;
}
